html {
  scroll-behavior: smooth;
}

.signupBox {
margin: 10px 0px 20px 0px;
  }

.carousel-item > img { 
    width: 100%; 
    max-height:800px;
  }

.about-text {
  margin: 50px 0px 30px 0px;
  padding: 0px 40px 0px 40px;
}

.logo-container {
  margin: 30px 0px 30px 0px;
}

.logo-img {
  height: 100px;
  width: 100px;
  margin: 0px 50px 0px 50px;
}

@media (max-width: 768px) { 
  .carousel-item > img { 
    width: 100%; 
    max-height:400px;
  }

  .logo-img {
    height: 50px;
    width: 50px;
    margin: 0px 30px 0px 30px;
  }

  #nav-sm {
    display: none;
  }

 }

@media (max-width: 576px) { 
    .carousel-item > img { 
      width: 100%; 
      max-height:200px;
    }

    .logo-img {
      height: 30px;
      width: 30px;
      margin: 0px 20px 0px 25px;
    }

    #nav-sm {
      display: none;
    }

   }