header.mainheader {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: url("../images/shoeMain.jpg");
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  header.mainheader h1 {
    font-size: 2.25rem;
  }
  
  @media (min-width: 992px) {
    header.mainheader {
      height: 100vh;
      min-height: 40rem;
      padding-top: 72px;
      padding-bottom: 0;
    }
    header.mainheader p {
      font-size: 1.15rem;
    }
    header.mainheader h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    header.mainheader h1 {
      font-size: 3.5rem;
    }
  }
  
  .about-container {
    background-color: white;
    margin: 30px 0px 30px 0px;
  }
  
  .self-img {
    border-radius: 50%;
    padding: 10px;
  }
  
  .card {
    margin: 20px 30px 20px 30px;
  }
  
  .card-btn-color {
    background-color: #6699cc !important;
  }
  
  .contact-container {
    margin: 30px 0px 30px 0px;
  }
  
  .fa-user-plus {
    color: #343a40;
    margin: 0px 5px 0px 5px;
    font-size: 1.2em;
}

.fa-sign-in-alt {
  color: #343a40;
  margin: 0px 5px 0px 15px;
  font-size: 1.2em;
}